<a href="https://colab.research.google.com/github/varun-varada/Car_prediction_Using_Neural_Netwroksc/blob/main/Neural_networks.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
df=pd.read_csv('CarPrice_Assignment.csv')

In [ ]:
df.head(10)

,car_ID,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,...,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
0,1,3,alfa-romero giulia,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.000
1,2,3,alfa-romero stelvio,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.000
2,3,1,alfa-romero Quadrifoglio,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.000
3,4,2,audi 100 ls,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950.000
4,5,2,audi 100ls,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450.000
5,6,2,audi fox,gas,std,two,sedan,fwd,front,99.8,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,15250.000
6,7,1,audi 100ls,gas,std,four,sedan,fwd,front,105.8,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,17710.000
7,8,1,audi 5000,gas,std,four,wagon,fwd,front,105.8,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,18920.000
8,9,1,audi 4000,gas,turbo,four,sedan,fwd,front,105.8,...,131,mpfi,3.13,3.40,8.3,140,5500,17,20,23875.000
9,10,0,audi 5000s (diesel),gas,turbo,two,hatchback,4wd,front,99.5,...,131,mpfi,3.13,3.40,7.0,160,5500,16,22,17859.167

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 26 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   car_ID            205 non-null    int64
 1   symboling         205 non-null    int64
 2   CarName           205 non-null    object
 3   fueltype          205 non-null    object
 4   aspiration        205 non-null    object
 5   doornumber        205 non-null    object
 6   carbody           205 non-null    object
 7   drivewheel        205 non-null    object
 8   enginelocation    205 non-null    object
 9   wheelbase         205 non-null    float64
 10  carlength         205 non-null    float64
 11  carwidth          205 non-null    float64
 12  carheight         205 non-null    float64
 13  curbweight        205 non-null    int64
 14  enginetype        205 non-null    object
 15  cylindernumber    205 non-null    object
 16  enginesize        205 non-null    int64
 17  fuelsystem        205 non-null    object
 18  boreratio         205 non-null    float64
 19  stroke            205 non-null    float64
 20  compressionratio  205 non-null    float64
 21  horsepower        205 non-null    int64
 22  peakrpm           205 non-null    int64
 23  citympg           205 non-null    int64
 24  highwaympg        205 non-null    int64
 25  price             205 non-null    float64
dtypes: float64(8), int64(8), object(10)
memory usage: 41.8+ KB

In [ ]:
int_col=df.select_dtypes(include=['int64','float64']).columns
char_col=df.select_dtypes(include='object').columns
char_col

Index(['carbody', 'enginetype', 'cylindernumber', 'fuelsystem'], dtype='object')

In [ ]:
# for col in int_col:
#   plt.figure(figsize=(10,6))
#   sns.boxplot(df[col])
#   plt.title(col)
#   plt.show()

In [ ]:
for col in int_col:
  q1,q3=df[col].quantile(0.25),df[col].quantile(0.75)
  iqr=q3-q1
  lower_bound=q1-1.5*iqr
  upper_bound=q1-1.5*iqr
  df[col]=df[col].apply(lambda x:
              upper_bound if x> upper_bound else(lower_bound if x< lower_bound else x)
              )

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 26 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   car_ID            205 non-null    float64
 1   symboling         205 non-null    float64
 2   CarName           205 non-null    object
 3   fueltype          205 non-null    object
 4   aspiration        205 non-null    object
 5   doornumber        205 non-null    object
 6   carbody           205 non-null    object
 7   drivewheel        205 non-null    object
 8   enginelocation    205 non-null    object
 9   wheelbase         205 non-null    float64
 10  carlength         205 non-null    float64
 11  carwidth          205 non-null    float64
 12  carheight         205 non-null    float64
 13  curbweight        205 non-null    float64
 14  enginetype        205 non-null    object
 15  cylindernumber    205 non-null    object
 16  enginesize        205 non-null    float64
 17  fuelsystem        205 non-null    object
 18  boreratio         205 non-null    float64
 19  stroke            205 non-null    float64
 20  compressionratio  205 non-null    float64
 21  horsepower        205 non-null    float64
 22  peakrpm           205 non-null    float64
 23  citympg           205 non-null    float64
 24  highwaympg        205 non-null    float64
 25  price             205 non-null    float64
dtypes: float64(16), object(10)
memory usage: 41.8+ KB

In [ ]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
df['fueltype']=le.fit_transform(df['fueltype'])
df['aspiration']=le.fit_transform(df['aspiration'])
df['doornumber']=le.fit_transform(df['doornumber'])
df['enginelocation']=le.fit_transform(df['enginelocation'])
df['drivewheel']=le.fit_transform(df['drivewheel'])

In [ ]:
char_col

Index(['CarName', 'fueltype', 'aspiration', 'doornumber', 'carbody',
       'drivewheel', 'enginelocation', 'enginetype', 'cylindernumber',
       'fuelsystem'],
      dtype='object')

In [ ]:
for col in char_col:
  print(f"{col}    {df[col].unique()}")

carbody    ['convertible' 'hatchback' 'sedan' 'wagon' 'hardtop']
enginetype    ['dohc' 'ohcv' 'ohc' 'l' 'rotor' 'ohcf' 'dohcv']
cylindernumber    ['four' 'six' 'five' 'three' 'twelve' 'two' 'eight']
fuelsystem    ['mpfi' '2bbl' 'mfi' '1bbl' 'spfi' '4bbl' 'idi' 'spdi']
Brand    ['Other' 'honda' 'mazda' 'mitsubishi' 'nissan' 'peugeot' 'subaru' 'toyota'
 'volvo']

In [ ]:
df['Brand']=df['CarName'].apply(lambda x: x.split(' ')[0])

In [ ]:
brand_count=df['Brand'].value_counts()
rare_brand=brand_count[brand_count < 10].index
df['Brand'] = df['Brand'].apply(lambda x: 'Other' if x in rare_brand else x)

In [ ]:
# df['Brand'].nunique()
df_old=df
col_names=df.columns
col_names
df['car_ID'].unique()

array([-101.])

In [ ]:
# col_names=df.columns
# col_names
# from sklearn.compose import ColumnTransformer
# from sklearn.preprocessing import StandardScaler,OneHotEncoder
# compose=ColumnTransformer([('num',StandardScaler(),int_col),
#                            ('char',OneHotEncoder(sparse_output=False,drop='first'),char_col)])
# df_new=compose.fit_transform(df_old)
# df_new1 = pd.DataFrame(df_new, columns=col_names)

In [ ]:
int_col=df.select_dtypes(include=['int64','float64'])

In [ ]:
from sklearn.preprocessing import StandardScaler,OneHotEncoder
ohe=OneHotEncoder(sparse_output=False,drop='first')
# ohe_columns=ohe.fit_transform(df[['Brand']])
# brand_col=pd.DataFrame(ohe_columns,columns=ohe.get_feature_names_out(['Brand']))
# brand_col.index = df['Brand'].index
# df_new=pd.concat([df_new,brand_col],axis=1)
# ohe_columns is numpy array
ohe_columns = ohe.fit_transform(df[['Brand']])

# Convert to DataFrame
brand_col = pd.DataFrame(ohe_columns, columns=ohe.get_feature_names_out(['Brand']))

# Align index
brand_col.index = df.index

# Now concat
df = pd.concat([df, brand_col], axis=1)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 33 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   symboling         205 non-null    float64
 1   fueltype          205 non-null    int64
 2   aspiration        205 non-null    int64
 3   doornumber        205 non-null    int64
 4   carbody           205 non-null    object
 5   drivewheel        205 non-null    int64
 6   enginelocation    205 non-null    int64
 7   wheelbase         205 non-null    float64
 8   carlength         205 non-null    float64
 9   carwidth          205 non-null    float64
 10  carheight         205 non-null    float64
 11  curbweight        205 non-null    float64
 12  enginetype        205 non-null    object
 13  cylindernumber    205 non-null    object
 14  enginesize        205 non-null    float64
 15  fuelsystem        205 non-null    object
 16  boreratio         205 non-null    float64
 17  stroke            205 non-null    float64
 18  compressionratio  205 non-null    float64
 19  horsepower        205 non-null    float64
 20  peakrpm           205 non-null    float64
 21  citympg           205 non-null    float64
 22  highwaympg        205 non-null    float64
 23  price             205 non-null    float64
 24  Brand             205 non-null    object
 25  Brand_honda       205 non-null    float64
 26  Brand_mazda       205 non-null    float64
 27  Brand_mitsubishi  205 non-null    float64
 28  Brand_nissan      205 non-null    float64
 29  Brand_peugeot     205 non-null    float64
 30  Brand_subaru      205 non-null    float64
 31  Brand_toyota      205 non-null    float64
 32  Brand_volvo       205 non-null    float64
dtypes: float64(23), int64(5), object(5)
memory usage: 53.0+ KB

In [ ]:
df_new=int_col

In [ ]:
from sklearn.svm import SVR
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, r2_score

X = df_new.drop('price', axis=1)
y = df_new['price']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

model = SVR()
model.fit(X_train, y_train)

y_pred = model.predict(X_test)

print("R2 Score:", r2_score(y_test, y_pred))

R2 Score: 1.0

In [ ]:
import torch
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler


X = df_new.drop('price', axis=1).values
y = df_new['price'].values.reshape(-1, 1)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

ss=StandardScaler()
X_train=ss.fit_transform(X_train)
X_test=ss.transform(X_test)
y_train=ss.fit_transform(y_train).reshape(-1,1)
y_test=ss.transform(y_test).reshape(-1,1)

x_train=torch.tensor(X_train,dtype=torch.float32)
y_train=torch.tensor(y_train,dtype=torch.float32)
x_test=torch.tensor(X_test,dtype=torch.float32)
y_test=torch.tensor(y_test,dtype=torch.float32)

In [ ]:
import torch.nn as nn
class RegressionNN(nn.Module):
  def __init__(self, input_dim):
    super().__init__()
    self.hidden1=nn.Linear(input_dim,128)
    self.hidden2=nn.Linear(128,64)
    self.output = nn.Linear(64, 1)
    self.relu=nn.ReLU()
  def forward(self,x):
    x=self.hidden1(x)
    x=self.hidden2(x)
    x=self.output(x)
    return x
input_dim = x_train.shape[1]
model = RegressionNN(input_dim)

In [ ]:
criterion=nn.MSELoss()
optimizer=torch.optim.Adam(model.parameters(),lr=0.01)

In [ ]:
epochs=500
for epcoh in range(epochs):
  model.train()
  optimizer.zero_grad()
  outputs=model(x_train)
  loss=criterion(outputs,y_train)

  loss.backward()
  optimizer.step()
  if (epcoh+1) % 50 == 0:
    print(f"Epoch [{epcoh+1}/{epochs}], Loss: {loss.item():.4f}")

Epoch [50/500], Loss: 0.0001
Epoch [100/500], Loss: 0.0000
Epoch [150/500], Loss: 0.0000
Epoch [200/500], Loss: 0.0000
Epoch [250/500], Loss: 0.0000
Epoch [300/500], Loss: 0.0000
Epoch [350/500], Loss: 0.0000
Epoch [400/500], Loss: 0.0000
Epoch [450/500], Loss: 0.0000
Epoch [500/500], Loss: 0.0000

In [ ]:
model.eval()
predictions = model(x_test).detach().numpy()

# Inverse scaling back to original price
predictions_original = ss.inverse_transform(predictions)
y_test_original = ss.inverse_transform(y_test)

# Calculate metrics
from sklearn.metrics import r2_score, mean_squared_error

r2 = r2_score(y_test_original, predictions_original)
rmse = mean_squared_error(y_test, predictions_original)

print("R2 Score:", r2)
print("RMSE:", rmse)

R2 Score: 1.0
RMSE: 27925938.0